.MySelect{
  display: block;
  width: 100%;
  border: 1px solid var(--dark);
  color: var(--dark);
  padding: .3rem 1rem;
  font-weight: bold;
  background-color: inherit;
  outline: none;
  border-radius: 0;
}